/*
#2B2B2B grey
#DE1B1B red
#F6F6F6 light grey
#E9E581 light yellow
*/

body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFF;
	font-size:0.75em;
	}
	
body a{
	text-decoration:none;
	}

h1{
	background-color:#BFEBEB;
	color:#FFF;
	letter-spacing:0.3em;
	text-align:center;
	padding:0;
	margin-bottom:0px;
	margin-top:0px;
	font-size:1.4em;
	}

h2{
	font-size:1em;
	color:#2B2B2B;}

p {
	color:#2B2B2B;
	}

#mainName{
	color:#FFFFFF;
	font-style:normal;
	text-decoration:none;
	}

html, body {
	width:  100%;
	height: 100%;
	margin: 0px;
}

#centerBox{
	margin:inherit;
	border:none;
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	}
	
#content{
	float:right;
	margin:inherit;
	border:inherit;
	width:75%;
	}

#navTable{
	margin:0px;
	width:20%;
	border:inherit;
	text-align:left;
	float:left;
	}

#navTable a{
	color:#38300A;}

#navTable tr{
	color:#38300A;
	font-size:.8em;
	letter-spacing: 0.1em;
	cursor:pointer;
	font-weight:lighter;
	}
	
#navTable td:hover{
	background-color:#E9E581;
	}

.simulationButton{
	text-indent:1em
	}
